body {
    background-color: #123456;
    margin-top: 3%
}

.menuItems {
    list-style: none;
    display: inline-flex;
    margin: 10px;
    padding: 10px;
}

.menuItems * {
    padding: 0px 20px 0px 20px;
    margin: 0px 20px 0px 20px;
}

.menuBar {
    background-color: #FFFFFF;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 30%;
}